%f-sofia-regular {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
}

%f-sofia-bold {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
}

%f-sofia-medium {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
}
